/*ID for the overall paragraph */
#content{

	text-align:justify;
	color:#FFFFFF;
	float:left;
	width:50%;
	
	
}

/*Form that contain the 2 main login/register forms*/
#form{
	height:auto;
	width:30%;
	float:right;
	margin-top:40px;

}

/*Body of the html*/
body{
	background-image: url("../img/bg_5.jpg");
	background-size:cover;
	padding-top:50px;
}

/*style for form that contain 2 forms content and form*/
#container{
	width:900px;
	margin:0 auto;
}

/*login form style*/
#loggin{
	background:#FFFFFF;
	padding:30px;
	width:100%;
	min-height:100px;
	height:auto;
}

/*signup form style*/
#signup{
	background:#FFFFFF;
	padding:30px;
	width:100%;
	min-height: 200px;
    height: auto;
	margin-top:30px;
}

/*style on paragraph*/
.para{
	color: #fff;
    font-size: 21px;
    line-height: 31px;
}

/*style for button in login form*/
.myButLogin {
    background:url(../img/login.png) no-repeat;
    cursor:pointer;
    width: 148px;
    height: 51px;
    border: none;
}

/*style for button in registration form*/
.myButSignup{
	background:url(../img/signup.png) no-repeat;
    cursor:pointer;
    width: 140px;
    height: 40px;
    border: none;
}

/*style on shorter paragraph "welcome"*/
.text{
	color:#66757f;
	text-decoration: underline;
}